@font-face {
  font-family: "HelveticaNeueLTCom-BlkCn";
  src: url("original_HelveticaNeueLTCom-BlkCn.eot?#iefix") format("embedded-opentype"), url("original_HelveticaNeueLTCom-BlkCn.woff") format("woff"), url("original_HelveticaNeueLTCom-BlkCn.ttf") format("truetype"), url("original_HelveticaNeueLTCom-BlkCn.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 14px;
  background-color: black; }

h1 {
  font-size: 2rem; }

.green {
  color: #4CAF50; }

.bg-red {
  background-color: white; }

.bg-red {
  background-color: red; }

.bg-blue {
  background-color: #2196F3; }

.bg-teal {
  background-color: #009688; }

.bg-green {
  background-color: #4CAF50; }

.bg-brown {
  background-color: #795548; }

.bg-purple {
  background-color: #673AB7; }

.bg-vino {
  background-color: #811324; }

.bg-greyClaro {
  background-color: #EAEAEA; }

.video_home {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%); }

.video {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%; }

.cabecera {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat; }

.texto {
  min-height: 100%; }

.svg_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  transform: translate(-50%, -50%);
  background-image: url("../images/svg_video.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.navbar a {
  color: white !important; }

.navbar-nav .nav-item .nav-link {
  padding-left: 3rem; }

.navbar {
  background-color: rgba(255, 255, 255, 0.1); }
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: rgba(0, 0, 0, 0.8); } }

.navbar-light .navbar-toggler {
  border-color: #989898;
  background-color: #989898;
  opacity: 0.7; }

.tit {
  font-family: HelveticaNeueLTCom-BlkCn, sans-serif; }

.top-fijo {
  top: 80px;
  z-index: 1000; }

.c-white {
  color: white; }

.c-black {
  color: black; }

.c-blue {
  color: #2196F3; }

.c-vino {
  color: #811324; }

.enlaces {
  color: #811324;
  text-decoration: underline #811324;
  font-weight: bold;
  text-transform: uppercase; }

.bg-img {
  background-image: url("../images/fondoValores.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.box-sh {
  box-shadow: 0px 20px 40px black; }

.yellowt {
  color: #CDD50B; }

.icon-left {
  font-size: 4rem !important;
  left: 0px; }
  @media only screen and (max-width: 767px) {
    .icon-left {
      display: none !important; } }

.icon-right {
  font-size: 4rem !important;
  right: 0px; }
  @media only screen and (max-width: 767px) {
    .icon-right {
      display: none !important; } }

.bg-nubes {
  background-image: url("../images/bg_nubes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.item-footer a {
  color: white; }
.item-footer a:hover {
  font-weight: bold;
  text-decoration: underline white; }

.sub-item-footer a {
  color: #989898;
  padding-top: 3px;
  padding-bottom: 3px; }
.sub-item-footer a:hover {
  color: #CDD50B;
  font-weight: 0;
  text-decoration: none; }

.img-producto2 {
  position: absolute;
  top: 20%;
  left: 20%; }
  @media only screen and (max-width: 767px) {
    .img-producto2 {
      top: 10%;
      left: 10%; } }

.img-producto {
  overflow: hidden; }
  .img-producto img {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2); }

.carousel-inner-productos {
  min-height: 400px; }

/*# sourceMappingURL=style.css.map */
